@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060608;
  --foreground: #E8E4DA;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
